.block-big {
  margin:0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 15vh;
  border-bottom: calc( 100vw * 0.010) solid mediumseagreen;
}

.block-small {
  margin:0;
  list-style: none;
  background-color: rgba(0, 2, 0, 0.05);
  height: 10vh;
}

.block-background {
  height: 75vh;
  background-size: cover;
}

.ball-scale > div {
  background: rgba(255, 255, 0, 0.4);
  float: right;
}

.angular-center-container {
  position: relative;
  height:100%;
  top:0;
    left:0;
    width:100%;
    display:table;
    pointer-events: inherit;;
    z-index:9999;
}
.angular-centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
