body {
  margin: 0;
  overflow: hidden;
  background:
  /* top, transparent red, faked with gradient */
  linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  ),
  /* bottom, image */
  url(../../../images/books.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
li {
    margin: 2vw;
    list-style-type: none;
    min-width:30vw;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    border: 0px solid rgba(0, 0, 0, 0.10);

}
.block-page{
    overflow-y: auto;
}
.block-big {
  margin:0;
  list-style: none;
}
.block-big .angular-center-container {
  padding: 10vw;
}

.block-small {
  margin:0;
  list-style: none;
  height: 5vh;
}
.block-small .angular-center-container {
    height: 5vh;
}

.block-background {
  height: 75vh;
  background-size: cover;
}

.ball-scale > div {
  float: right;
}

.angular-center-container {
    display:flex;
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
}
.angular-centered {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

}
