body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
li {
    margin: 0;
    list-style-type: none;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    /*align-self: stretch;
    min-width: 45%;*/
    margin: 0.2em;
}

.block-page{
}
.block-big {
  margin:0;
  list-style: none;
}
.block-big .angular-center-container {
  padding: 0vw 5vh 2vh 5vh;
}

.big > .angular-center-container  {
    height: 5vh;
}

.block-small {
  margin:0;
  list-style: none;
}
.block-small .angular-center-container {
  padding: 01vw 5vw 1vw 5vw;
}
input.block-small {
  border: 0;
  padding: 1vw 2vw 1vw 2vw;
  width: 60vw;
  text-align: center;
  margin: 0.2em;
}
button {
  border: 0;
  padding: 1vw 2vw 1vw 2vw;
  text-align: center;
  margin: 0.2em;
}
@keyframes blink {
to { color: transparent; }
}

.block-blink {
  animation: blink 1s steps(2, start) infinite;
  display: inline-block;
}

.ball-scale > div {
  float: right;
}

.angular-center-container {
    display:flex;
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
}
.angular-centered {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

}
