body {
      background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
* {
    color: rgba(255, 255, 255, 0.5);
}
.ball-scale > div {
    background: rgba(255, 255, 255, 0.95);
}
.color-base a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
.small.color-base {
}
.small.color-base a {
}
.color-brand {
}
.color-brand a {
}
li {
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.05);
}
button, input.block-small {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.14);
}
input:focus, button:focus {
    border: 1px solid rgba(255, 255, 255, 0.24);
    outline:none;
}
::-webkit-input-placeholder {
   color: inherit;;
}

:-moz-placeholder { /* Firefox 18- */
   color: inherit;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: inherit;
}

:-ms-input-placeholder {
   color: red;
}
