*{
  font-family: 'Sawasdee', 'Droid Sans', sans-serif;
}
body {
  margin: 0;
  font-size: calc( 15px + (24 - 12) * ( (100vw - 400px) / ( 800 - 400) ));
  background-color: rgba(0, 2, 0, 0.1);
}

@font-face {
    font-family: Sawasdee;
    src: url(fonts/Sawasdee.ttf);
}

h1 {
  margin:0;
  padding:0;
}

.title-overflow {
  color: rgba(255, 255, 255, 1);
}

.small {
  font-size: 60%;
}
