*{
  font-family: 'Sawasdee', 'Droid Sans', sans-serif;
  font-size: calc( 100vh * 0.025);
  font-weight: 300;
}

@font-face {
    font-family: Sawasdee;
    src: url(fonts/Sawasdee.ttf);
}

h1 {
  margin:0;
  padding:0;
}

.title-overflow {
  color: rgba(255, 255, 255, 1);
}

.small, .small li, .small a {
  font-size: 75%;
}


.big {
  font-size: 175%;
}
